* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.doc-title {
    text-align: center;
    margin: 30px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    border: 2px solid #fff;
}

.item-three-active {
    background-color: red;
}