* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #083b4c;
}

.doc-title {
    text-align: center;
    margin: 30px;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #1389b2;
    text-align: center;
    line-height: 76px;
    font-size: 24px;
    border: 12px solid #083b4c;;
}

.item-fizz-active {
    background-color: #0bd6a1;
}

.item-buzz-active {
    background-color: #ffd166;
}

.item-fizzbuzz-active {
    background-color: #f0466f;
}